/*defini a familia da fonte que utilizei*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Neue Haas Grotesk Display Pro';
  letter-spacing: 1px;
  background-color: #f1f7ed;
}

body, html{
  margin:0;
  padding:0;
}

p {
  font-size: 24px;
  color: #243e36;
}

/*usei flex display para setar a o menu de forma que ficassem um ao lado do outro*/
nav {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 999;
  font-weight: 500;
}

nav .logo {
  width: 30%;
  padding-left: 50px;
  color: #7ca982;
  font-size: 30px;
  display:none;
  
  @media only screen and (min-width: 1200px) {
    display:block;
  }
}

nav ul {
  display: flex;
  justify-content: center; /*posiciona os elementos centralizados horizontalmente*/
  align-items: center; /*posiciona os elementos centralizados verticalmente*/
  list-style: none; /*remove as bolinhas da lista, bullet points*/
  width: 100%;
  padding: 0px;

  @media only screen and (min-width: 1200px) {
    width: 70%;
  }
}

ul {
  list-style: none; /*remove as bolinhas da lista, bullet points*/
}

nav li {
  flex: 1; /*configura todos os elementos da lista com a mesma largura */
  font-size: 18px;
  display: flex;
  justify-content: center;

  @media only screen and (min-width: 1200px) {
    font-size: 30px; /* muda o tamanho da fonte para dispositivos a partir de 1200px de largura*/
  }
}

nav .active a {
  color: #c2a83e;
}

a {
  color: #7ca982;
  text-decoration: none; /* removeu a underline da a tag*/
}

/*pagina index*/
.introduction, .about {
  display: flex;
}

.introduction {
  flex-direction: column-reverse;
  padding-top: 100px;

  @media only screen and (min-width: 1200px) {
    flex-direction: row;
    padding-top: 0px;
  }
}

.introduction h2 {
  font-weight: 500;
}

.text-wrapper {
  display: flex;
  flex-direction: column; /* configura os itens flex abaixo um do outro*/
  padding-left: 10%;
  justify-content: center;
  flex: 1;

  @media only screen and (max-width: 1199px) {  /* muda o tamanho da fonte para dispositivos até  1200px de largura*/
    padding: 0px;
    text-align: center;
  }
}

.text-wrapper h1 {
  color: #7ca982;
  font-size: 80px;
  margin: 0; /* margem excluida para melhoramento estetico e melhor disposicao do texto acima e abaixo */

  @media only screen and (max-width: 1199px) {
    font-size: 40px;
  }
}

.text-wrapper h2 {
  color: #243e36;
  font-size: 2rem; /* medida utilizada ao inves de px pois tive problemas ao testar em outros computadores, e esta foi a versao que melhor se adaptou */

  @media only screen and (max-width: 1199px) {
    font-size: 1rem;
  }
}

.img-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column; /* organiza os elemntos do image-wrapper em colunas, um ao lado do outro */
  flex: 1; /* posiciona a largura do img-wrapper*/
  align-items: center;
}

.img-wrapper img {
  width: 350px;

  @media only screen and (min-width: 1200px) {
    width: 500px;
  }
}

.introduction .animated-text {
    margin-left: 10px;
    color: #c2a83e; 
}

.zuca-image {
    opacity: 1; /* desativa animação de surgimento de imagem, deixando-a a mostra sem que seja preciso dar scroll*/
}

.my-name:hover > .yellow { /* se der hover sobre o meu nome, os elementos da classe yellow mudam sua cor para amarelo*/
    color: #C2A83E;
}

.my-name:hover > .red { /* o mesmo se aplica a este, e ao debaixo*/
    color: #AD6D64;
}

.my-name:hover > .blue {
    color: #9392C5;
}

/*pagina about*/
.about {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;

  @media only screen and (max-width: 1199px) {
    flex-direction: column;
  }
}

.about h1 {
  @media only screen and (max-width: 1199px) {
    padding-top: 20px;
  }
}

.about p {
  @media only screen and (max-width: 1199px) {
    font-size: 1rem;
  }
}

/*pagina contact*/

.contact {
  padding: 50px;
}

.contact h1 {
  text-align: center;
  padding-bottom: 50px;
}

.contact h2 {
  color: #7ca982;
  font-size: 60px;

  @media only screen and (max-width: 1199px) {
    font-size: 2rem;
  }
}

.contact iframe {
  width: 100%;
  margin-bottom: 50px;
}

.contact .text-wrapper {
  text-align: center;
  padding-left: 0px;
}

.contact a:hover {
  color: #c2a83e;
}

.section {
  padding-bottom: 10vh; /* define padding com o valor de 10% da altura da tela. vh pode ser usada para definir valores relativos a altura da tela */

  @media only screen and (min-width: 1200px) {
    height: 90vh;
    padding-bottom: 0px;
  }
}

img {
  opacity: 0; /* esconde todas as imagens quando a pagina é carregada*/
  transition: opacity 2s ease-in-out; /* configura o tipo de animação para as imagens aparecerem*/
}

.fa-instagram {
    vertical-align: middle;
    margin-right: 10px;
}

/*pagina work*/

.work {
    background-color: #3C4A3E;
    position: relative;
    height: 2350px;
    padding-top: 300px;

    @media only screen and (max-width: 1199px) {
      padding-top: 100px;
    }
}

.work h1 {
    position: absolute; /*tira o elemento do DOM flow geral, isto faz com que os elementos não seja mais relativo aos outros elementos*/
    top: -35px; /*valores top, right, left e bottom são usados para definir a posição do elemento enquanto em posição absoluta*/
    right: 0px;
    margin: 0px; /*remove margens padrões que preexistem nos elementos H1*/
    color: #f1f7ed;
    font-size: 150px;
    text-transform: uppercase; /*usei para testar deixar todas letras em maiusculas*/

    @media only screen and (max-width: 1199px) {
      font-size: 64px;
      top: -18px;
    }
}

.work .content {
    padding: 0px;
    margin-left: auto; /*margem auto usadas para centralizar o elemento*/
    margin-right: auto;
    position: relative;/*aqui tive que especialmente definir isto para criar limites para as imagens dos meus projetos não invadirem o espaço de cima da página, respeitando os limites do container*/

    @media only screen and (min-width: 1200px) {
      width: 1200px;
    }
}

.work .card {
    position: absolute;

    @media only screen and (max-width: 1199px) {
      position: relative; /*em dispositivos mobile, as imagens dos projetos são apresentadas em linha vertical, um abaixo do outro*/
    }
}

.work .card-wrapper {
    opacity: 0; /*configura a visibilidade das imagens a 0*/
    transition: opacity 2s ease-in-out; /*animação para criar efeito smooth de transição entre as sessões*/

    @media only screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px; /*define o espaço entre os elementos flex*/
    }
}

.card:hover a > .card-background { /*seleciona card-background ao passar o mouse sobre a imagem do projeto. Isto é necessário para que somente a imagem fique escura, mas não o seu conteúdo, neste caso: texto*/
    animation: reduceBrightnessAnimation .5s linear forwards; /* ao passar o mouse sobre o projeto, esta animação faz com que a imagem fique mais escura */
}

.card:hover {
    animation: zIndexAnimation .5s linear forwards; /*esta animação faz com que ao passar o mouse sobre uma imagem do projeto, a mesma é destacada e trazida para frente*/
    cursor: pointer; /*muda o mouse ao passar pela imagem do projeto*/
}

.work .card-background {
    background-size: cover; /*define o tamanho da imagem */
    height: 100%;
    width: 100%;
    border-radius: 5px; /*arredonda as bordas da imagem*/
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.15); /* adiciona dropshadow nas imagens dos projetos*/
}

.work p {
    position: absolute;
    font-size: 20px;
    font-weight: 100; 
    color: white;
    padding: 40px;
    bottom: 0px;
    opacity: 0%;
}

.work p span {
    font-size: 40px;
    font-weight: 800;
}

.work .card:hover p {
  @media only screen and (min-width: 1200px) {
    animation: appearTextAnimation .5s linear forwards;  /*esta animação faz com que o texto apareça ao passar o mouse sobre a imagem, disponível apenas para desktop*/
  }
}

/*disposição das imagens na sessão de projetos*/

.work .card-1 {
    width: 400px;
    height: 650px;
    top: 300px;
    z-index: 3;

    @media only screen and (max-width: 1199px) {
      position: relative;
      height: 0px;
      top: 0px;
      width: 200px;
      height: 325px;
    }
}

.work .card-2 {
    height: 450px;
    width: 750px;
    z-index: 1;
    left: 50px;

    @media only screen and (max-width: 1199px) {
      position: relative;
      left: 0px;
      width: 375px;
      height: 225px;
    }
}

.work .card-3 {
    height: 400px;
    width: 650px;
    z-index: 1;
    right: 0px;
    top: 600px;

    @media only screen and (max-width: 1199px) {
      position: relative;
      top: 0px;
      width: 325px;
      height: 200px;
    }
}

.work .card-4 {
    height: 500px;
    width: 500px;
    z-index: 2;
    left: 100px;
    top: 800px;

    @media only screen and (max-width: 1199px) {
      position: relative;
      top: 0px;
      left: 0px;
      width: 250px;
      height: 250px;
    }
}

.work .card-5 {
    height: 650px;
    width: 650px;
    z-index: 1;
    top: 1000px;
    left: 500px;

    @media only screen and (max-width: 1199px) {
      position: relative;
      top: 0px;
      left: 0px;
      width: 325px;
      height: 325px;
    }
}

.work .card-6 {
    height: 500px;
    width: 750px;
    z-index: 0;
    top: 1600px;
    right: 0;

    @media only screen and (max-width: 1199px) {
      position: relative;
      top: 0px;
      width: 375px;
      height: 250px;
    }
}

.work .card-7 {
    height: 750px;
    width: 450px;
    z-index: 0;
    top: 1400px;
    left: 10px;

    @media only screen and (max-width: 1199px) {
      position: relative;
      top: 0px;
      left: 0px;
      height: 375px;
      width: 225px;
    }
}

.work .card-8 {
    height: 600px;
    width: 420px;
    z-index: 0;
    right: 30px;
    top: 120px;

    @media only screen and (max-width: 1199px) {
      position: relative;
      top: 0px;
      left: 0px;
      height: 300px;
      width: 210px;
    }
}

/*animações*/

@keyframes reduceBrightnessAnimation {
  0% {
      filter: brightness(100%);
  }
  100% {
      filter: brightness(20%);
  }
}

@keyframes zIndexAnimation {
  0% {
      z-index: 1;
  }
  100% {
      z-index: 999;
  }
}

@keyframes appearTextAnimation {
  0% {
      opacity: 0%;
  }
  100% {
      opacity: 100%;
  }
}

/*pagina project individual*/

.project-body {
    @media only screen and (min-width: 1200px) {
      overflow: hidden;/*desativa scrollling total da página em desktop*/
    }
}

.project-content {
    padding: 50px;
    padding-top: 100px;
    display: flex;

    @media only screen and (max-width: 1199px) {
      flex-direction: column;
    }
}

.project-content img {
    opacity: 1;
}

.project-content .images-container{
    overflow: auto; /*abilita scrolling das images do projeto*/
    max-height: 80vh;
    flex: 2;
}

.project-content .images-container img{
    width: 100%;
}

.project-content .text-container{
    text-align: center;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-content .text-container p, .project-content .text-container li {
    font-size: 1rem;
    color: #676666;
}

.project-content .text-container h1 {
    font-size: 3rem;
    font-weight: 500;
}

.project-content .text-container h2 {
    font-size: 2rem;
    font-weight: 300;
    color: #555454;
}

.project-content .text-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 100%;
}

.project-content .text-container h1, .project-content .text-container h2, .project-content .text-container p, .project-content .text-container ul {
  margin: 0px;
}

/*cores individuais das paginas dos projetos*/
.daterate {
    background-color: #F6EEED;
}

.daterate ul li a, .daterate .logo, .daterate h1{
    color: #FF7859;
}

.happiness {
    background-color: #FAFAFA;
}

.happiness ul li a, .happiness .logo, .happiness h1{
    color: #1A1850;
}

.project-content iframe {
    width: 100%;
    height: 550px;
}

.so-many-tools {
    background-color: #FAFAFA;
}

.so-many-tools ul li a, .so-many-tools .logo, .so-many-tools h1{
    color: #040505;
}

.trash-island {
    background-color: #EFFFF9;
}

.trash-island ul li a, .trash-island .logo, .trash-island h1{
    color: #FFAA00;
}

.fox-house {
    background-color: #F6ECDC;
}

.fox-house ul li a, .fox-house .logo, .fox-house h1{
    color: #EB6752;
}

.cardboard-box {
  background-color: #FFFEF2;
}

.cardboard-box ul li a, .cardboard-box .logo, .cardboard-box h1{
  color: #895F1F;
}

.tutto {
  background-color: #FFF5F5;
}

.tutto ul li a, .tutto .logo, .tutto h1{
  color: #C93F3F;
}

.i-love-you-so {
  background-color: #FFEDDB;
}

.i-love-you-so-qr {
  padding-left: 37.5%;
  padding-right: 37.5%;
  width: 25%!important;
  background-color: white;
}

.i-love-you-so ul li a, .i-love-you-so .logo, .i-love-you-so h1{
  color: #220E0E;
}