/*defini a familia da fonte que utilizei*/
@font-face {
    font-family: helvetica;
    src: url(./fonts/helvetica.otf);
}

html {
    scroll-behavior: smooth;
}
  

body {
    font-family: helvetica;
    background-color: #F1F7ED;
    margin: 0px;
}

p {
    font-size: 32px;
}

/*usei flex display para setar a o menu de forma que ficassem um ao lado do outro*/
nav {
    display: flex;
    position: fixed;
    width: 100%;
}

.logo {
    width: 30%;
    padding-left: 50px;
    color: #7CA982;
    font-size: 30px;
}

ul {
    display: flex;
    justify-content: center; /*posiciona os elementos centralizados horizontalmente*/
    align-items: center; /*posiciona os elementos centralizados verticalmente*/
    list-style: none; /*remove as bolinhas da lista, bullet points*/
    width: 70%;

}

li {
    flex: 1; /*configura todos os elementos da lista com a mesma largura */
    font-size: 30px;
}

.active a {
    color: #C2A83E;
    text-decoration: underline;
}

a {
    color: #7CA982;
    text-decoration: none; /* removeu a underline da a tag*/
}
/*pagina index*/
.introduction {
    display: flex;
}

.introduction .text-wrapper {
    width: 30%;
    display: flex;
    flex-direction: column; /* configura os itens flex abaixo um do outro*/
    padding-left: 10%;
    justify-content: center;
}

.introduction .img-wrapper {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.introduction .img-wrapper img{
    width: 100%;
    height: max-content;
}

.text-wrapper h1{
    color: #7CA982;
    font-size: 80px;
    margin: 0; /* margem excluida para melhoramento estetico e melhor disposicao do texto acima e abaixo */
}

.text-wrapper h2{
    color: #243E36;
    font-size: 2rem; /* medida utilizada ao inves de px pois tive problemas ao testar em outros computadores, e esta foi a versao que melhor se adaptou */
}

.text-wrapper span{
    color: #C2A83E;
}

/*pagina about*/
.about {
    display: flex;
}

.about .text-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 10%;
}

.about .img-wrapper {
    width: 30%;
    padding-left: 10%;
}

.about p{
    margin-right: 30%;
}


/*pagina work*/

.work {
    padding: 50px;
}

.work h1 {
    text-align: center;
    padding-bottom: 20px;
}

.work .videos {
    display: flex;
    gap: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.work .imgs {
    display: flex;
    flex-wrap: wrap;
}

.work .imgs div {
    width: 45vw;
    height: 40vh;
    margin: 1vw;
    background-position: center;
    background-size: cover;
}

.work .imgs .img-1 {
    background-image: url('./images/projects/1.png');
}

.work .imgs .img-2 {
    background-image: url('./images/projects/2.png');
}

.work .imgs .img-3 {
    background-image: url('./images/projects/3.png');
}

.work .imgs .img-4 {
    background-image: url('./images/projects/4.png');
}

/*pagina contact*/

.contact {
    padding: 50px;
}

.contact h1 {
    text-align: center;
    padding-bottom: 50px;
}

.contact iframe {
    width: 100%;
    margin-bottom: 50px;
}

.contact .text-wrapper {
    text-align: center;
}

/*adiciona cor dourada ao passar o rato sobre a tag a*/
.contact a:hover {
    color: #C2A83E;
}

.section {
    height: 90vh;
}

img {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}